# Yelp project BAP

In [4]:
import os
import pandas as pd

## reviews dataset

In [5]:
print(os.getcwd())

/Users/mare/Downloads/BAP_project_2025sem2/MTech-BAP

In [6]:
df_reviews = pd.read_csv('review_output.csv')
df_daniel_reviews = pd.read_csv('filtered_yelp_reviews_2017_2022.csv')
print('size of reviews dataset::', len(df_reviews.shape))
print(df_reviews.head())
print('size of daniel reviews dataset::', len(df_daniel_reviews.shape))
print(df_daniel_reviews.head())

size of reviews dataset:: 2
                review_id                 user_id             business_id  \
0  KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw
1  BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q  7ATYjTIgM3jUlt4UM3IypQ
2  saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A  YjUWPpI6HXG530lwP-fb2A
3  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
4  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ

   stars  useful  funny  cool  \
0    3.0       0      0     0
1    5.0       1      0     1
2    3.0       0      0     0
3    5.0       1      0     1
4    4.0       1      0     1

                                                text                 date
0  If you decide to eat here, just be aware it is...  2018-07-07 22:09:11
1  I've taken a lot of spin classes over the year...  2012-01-03 15:28:18
2  Family diner. Had the buffet. Eclectic assortm...  2014-02-05 20:30:30
3  Wow!  Yummy, different,  delicious.   Our favo...  2015-01-04 00:01:03
4  Cute interior and owner (?) gave us tour of up...  2017-01-14 20:54:15
size of daniel reviews dataset:: 2
                review_id                 user_id             business_id  \
0  KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw
1  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ
2  lUUhg8ltDsUZ9h0xnwY4Dg  RreNy--tOmXMl1en0wiBOg  cPepkJeRMtHapc_b2Oe_dw
3  -P5E9BYUaK7s3PwBF5oAyg  Jha0USGDMefGFRLik_xFQg  bMratNjTG5ZFEA6hVyr-xQ
4  YbMyvlDA2W3Py5lTz8VK-A  4hBhtCSgoxkrFgHa4YAD-w  bbEXAEFr4RYHLlZ-HFssTA

   stars  useful  funny  cool  \
0      3       0      0     0
1      4       1      0     1
2      4       1      0     1
3      5       0      0     0
4      5       0      0     0

                                                text        date
0  If you decide to eat here, just be aware it is...  2018-07-07
1  Cute interior and owner (?) gave us tour of up...  2017-01-14
2  I was really between 3 and 4 stars for this on...  2018-07-16
3  First time there and it was excellent!!! It fe...  2017-02-19
4  Great burgers,fries and salad!  Burgers have a...  2017-01-01

In [7]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        float64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         object
dtypes: float64(1), int64(3), object(5)
memory usage: 480.0+ MB

In [11]:
df_reviews['stars'].value_counts()

stars
5.0    3231627
4.0    1452918
1.0    1069561
3.0     691934
2.0     544240
Name: count, dtype: int64

In [8]:
df_reviews.iloc[10]["text"]

"My experience with Shalimar was nothing but wonderful. \nI wanted to get my engagement ring sized and was told over the phone that it could probably be done within the day. \nWhen I brought it by, the team confirmed that the jeweler would be able to accommodate my same-day request and that it would be around $40 (simple band, decrease by three full sizes).\nI checked my size one more time, confirmed, and left to let them do their thing.\nWhen I came to pick up later that afternoon, the ring was too small. It's very important to note that Shalimar sized the ring perfectly, but that I made a mistake and should've gone up a half-size.\nThe Shalimar group were completely understanding and accommodating, even resizing my ring back up and getting it back to me within an hour at no charge! Even though it was my mistake!\nThe associates' attitudes in dealing with what was a pretty embarrassing situation instantly earned my satisfaction and loyalty as a customer. Very grateful for such a wonderful experience."

### Data description for review dataset
#### Each row represents a single review left by a user for a business.

1. review_id: Unique identifier for each review (string).
2. user_id: Unique identifier for the user who wrote the review (string).
3. business_id: Unique identifier for the business being reviewed (string).
4. stars: Star rating given by the user (float, typically 1.0 to 5.0).
5. useful: Number of users who marked the review as useful (integer).
6. funny: Number of users who marked the review as funny (integer).
7. cool: Number of users who marked the review as cool (integer).
8. text: Full text of the review written by the user (string).
9. date: Date and time when the review was posted (datetime, format: YYYY-MM-DD HH:MM:SS).

In [18]:
df_reviews_filtered = df_reviews.copy()

In [19]:
# filter to only recent 5 years 
df_reviews_filtered['year'] = pd.to_datetime(df_reviews_filtered['date']).dt.year
df_reviews_filtered = df_reviews_filtered[(df_reviews_filtered['year'] >= 2017) & (df_reviews_filtered['year'] <= 2022)]
print(df_reviews_filtered.shape)
print(df_reviews_filtered['year'].unique())

(3838105, 10)
[2018 2017 2019 2020 2021 2022]

In [20]:
# comparing dataset length with `filtered_yelp_reviews_2017_2022.csv`
print("daniel's filtered yelp review dataset",df_daniel_reviews.shape)
print("current version of filtered dataset",df_reviews_filtered.shape)

daniel's filtered yelp review dataset (1174907, 9)
current version of filtered dataset (3838105, 10)

### Basic data cleaning

In [ ]:
df_reviews_cleaned = df_reviews_filtered.copy()
## handle missing and invalid data
df_reviews_cleaned.isna().sum()
# (df_reviews_cleaned['stars'] == '').any()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
year           0
dtype: int64

In [28]:
# convert important columns to correct data formats
type_map = {
    'user_id': str,
    'review_id': str,
    'business_id': str,
    'text': str,
    'stars': int
}
df_reviews_cleaned = df_reviews_cleaned.astype(type_map)
df_reviews_cleaned.isna().sum() # check for na again

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
year           0
dtype: int64

In [30]:
df_reviews_cleaned.iloc[13]['stars']

np.int64(5)

In [31]:
dummies = pd.get_dummies(df_reviews_filtered['stars'])
dummies.head()

      1.0    2.0    3.0    4.0    5.0
0   False  False   True  False  False
4   False  False  False   True  False
24  False  False  False   True  False
30  False  False  False  False   True
31  False  False  False  False   True

In [32]:
df_reviews_cleaned = df_reviews_cleaned.dropna(subset=['text'])
# remove empty or whitespace-only text cell values
df_reviews_cleaned = df_reviews_cleaned[df_reviews_cleaned['text'].str.strip() != '']
df_reviews_cleaned.shape

(3838105, 10)

In [35]:
# check range of 'stars' rating column in case of out-of-range values
print("stars rating in reviews data is lowest at: ", df_reviews_cleaned['stars'].min())
print("stars rating in reviews data is highest at: ", df_reviews_cleaned['stars'].max())

stars rating in reviews data is lowest at:  1
stars rating in reviews data is highest at:  5

In [36]:
# -- standardization and normalization --
# convert text to lowercase and remove special characters
df_reviews_cleaned['text'] = df_reviews_cleaned['text'].str.lower()
df_reviews_cleaned['text'] = df_reviews_cleaned['text'].str.replace(r'\W', ' ', regex=True)
df_reviews_cleaned.head(6)

In [ ]:
# drop duplicate rows.
df_reviews_cleaned = df_reviews_cleaned.drop_duplicates()
df_reviews_cleaned.shape
# Detect and handle outliers using statistical methods or domain knowledge.

## business dataset